h1{color:white;background-color:red;}img{margin:5px;border-radius:10px;}a{text-decoration:none;color:white;}figure{font-size:14px;display:block
background-color:Black;border-radius:10px;padding:none;text-decoration:none;}
